* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2F5E4D;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.25rem;
    width: 75%;
}

#moodImage {
    height: 200px;
}

#moodSlider {
    width: 100%;
    height: 5px;
    background-color: #CCCCCC;
    color: white;
    border-radius: 5rem;
}

.mood-slider::-webkit-slider-thumb {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}

.mood-slider::-moz-range-thumb {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}

